/* Resetowanie marginesów i paddingów dla wszystkich elementów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styl dla głównego kontenera */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ustawia główny kontener na całą wysokość widoku */
}

/* Styl dla kontenera formularza */
.form-container {
    margin-top: 20px;
    /* Dodałem margines na górę, aby oddzielić formularz od gif'a */
}

.img {
    display: flex;
    width: 100%;
    max-width: 600px;
    flex-direction: column;
}

/* Styl dla formularza */
#support-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* Styl dla pól tekstowych */
input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    color: var(--color-dark);
    background-color: var(--color-light);
}

.send-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Dodałem prosty hover na przycisku */
.send-btn:hover {
    background-color: #45a049;
}